-i https://pypi.org/simple/
django-crispy-forms==1.6.0
django-filter==0.13.0
django-markdown-deux==1.0.5
django-pagedown==0.1.1
django==1.11.23
djangorestframework-jwt==1.8.0
djangorestframework==3.3.3
markdown2==2.3.1
markdown==2.6.6
pillow==6.0.0
pyjwt==1.4.0
pytz==2019.3
